@import "./variables.css";
@import "./fonts.css";
@import "./medias.css";

/* Se coloca el contenedor de primero para */
.contenedor {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.background {
  background-image: url("../images/background.png");
  background-size: cover;
}

.content {
  flex-grow: 1;
}

.colease {
  display: inline-block;
}

body {
  font-family: "Allerta", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &.opened{
    overflow: hidden;
  }
}

table {
  width: 100%;
}

th {
  background: var(--bgfondo);
  color: white;
}

th {
  padding: 10px 20px;
  text-align: left;
}
td {
  padding: 20px;
}

table,
td,
th {
  border: 1px solid var(--bgfondo);
  border-collapse: collapse;
}

input,
textarea {
  outline: 0;
}
input:focus,
textarea:focus {
  background: lightslategrey;
}

input {
  @media (--media-medium){
    &[type="text"], &[type="email"] {
      font-size: 16px;
      padding: 5px;
    }
    &[type="radio"],&[type="checkbox"]{
      zoom: 1.3;
    }
  }
}

textarea {
  width: auto;
  margin-right: 15px;
}

.precios .header .logotipo {
  margin: 50px 0;
}

.button {
  border-radius: 12px;
  border: none;
  background: var(--co-darkred);
  color: white;
  padding: 7px 12px;
  font-size: 18px;
  background: linear-gradient(to left, var(--co-darkred), var(--co-ligthred));
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.titulo {
  font-size: 70px;
  margin-bottom: 20px;
  line-height: 70px;
  margin-top: 0;
  span {
    text-decoration: underline;
  }

  @media (--media-large){
    font-size: 45px;
    margin: 0px;
  }

  @media (--media-small) {
    font-size: 35px;
    line-height: 35px;
    margin: 20px;
  }
}

.tipo {
  &-a, &-b {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin-top: 0px;
  }
}

.guitarras {
  color: var(--co-guitarra);
  margin-bottom: 60px;
  flex-grow: 1;
  width: 100%;
  @media (--media-large){
    text-align: center;
  }

  h2 {
    font-size: 35px;

    @media (--media-small) {
      font-size: 30px;
    }
  }
}

.header {
  position: relative;
  &.contenedor {
    position: static;
  }

  @media (--media-xmedium){
    text-align: center;
  }

  @media (--media-small){
    position: static;
  }
}

.portada{
  color: white;
  padding: 20px;
  background-color: var(--bgfondo);

  div.contenedor {
    align-items: stretch;
    @media (--media-large){
      height: auto;
    }

    @media (--media-small) {
      align-items: stretch;
    }
  }

  @media (--media-small) {
    text-align: center;
  }
}

.menu {
  color: aliceblue;
  font-size: 24px;
  display: inline-block;
  right: 0;
  li {
    display: inline-block;
    margin-left: 30px;
    &:before {
      content: "⦿";
      font-size: 20px;
      line-height: 12px;

      font-weight: bold;
      margin-right: 10px;
    }

    @media (--media-xmedium) {
      &:first-child {
         margin: 0;
      }
    }

    @media (--media-small) {
      display: block;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid white;

      &:first-child {
        border-top: 1px solid white;
      }
      &::before {
        display: none;
      }
    }
  }
   a {
    color: aliceblue;
    text-decoration: none;
  }

  ul {
    @media (--media-xmedium) {
      padding: 0;
    }
    @media (--media-small) {
      flex: 1;
    }
  }

  @media (--media-xmedium){
    position: static;
    display: block;
  }

  @media (--media-small) {
    background: rgba(255, 60, 88, 0.83);
    top: 0;
    left: -100%;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    overflow: hidden;

    &.active {
      left: 0px;
    }
  }
}


.logotipo {
  display: inline-block;
  margin: 0;
}

.rigth {
  float: right;
  position: relative;
  top: -164px;
  @media (--media-large){
    float: none;
    position: static;
  }
}

.left {
  float: left;
  position: relative;
  top: 30px;
  @media (--media-large){
    float: none;
    position: static;
  }
}

.guitarra{
  border: 1px solid var(--co-guitarra);
  padding: 10px;
  margin: 10px 10px 40px 10px;
  border-radius: 10px;

  h3 {
    margin-top: 30px;
    font-size: 30px;
    @media (--media-large) {
       margin: 0;
    }
  }
  ol {
    padding: 0;
  }
  &.b {
    height: 215px;
    @media (--media-large) {
      height: auto;
    }
  }
  li {
    @media (--media-large){
       list-style: none;
    }
  }
  img {
    @media (--media-small){
      width: 200px;
      /* height: auto; */
    }
  }
}

.contenedor-guitarra{
  &-a {
    padding-left: 20px;
  }
  &-b {
    margin-left: 370px;
    padding-left: 20px;
    position: relative;
    bottom: 90px;
    height: 190px;
    @media (--media-large) {
       margin: 0;
      position: static;
      height: auto;
    }
  }
}

.footer {
  background: var(--bgfondo);
  padding: 50px;
  flex-grow: 0;
  @media (--media-medium){
     padding: 15px;
  }
  .contenedor {
    display: flex;
    justify-content: space-between;
    @media (--media-small) {
      display: block;
    }

    .contacto {
      display: flex;
      width: 300px;
      flex-wrap: wrap;
      align-items: flex-start;
      @media (--media-medium){
        margin: 0 auto;
      }
      @media (--media-small) {
        width: auto;
        display: block;
      }

      strong {
        display: block;
      }
      img {
        display: block;
        height: 70px;
        margin-bottom: -20px;
        @media (--media-medium) {
          margin: 0;
        }
      }
      a {
        font-size: 13px;
        color: white;
        text-decoration: none;
        margin: 10px 10px 10px 0;

        @media (--media-medium){
          font-size: 16px;
        }
        @media (--media-small){
          display: block;
          margin-bottom: 15px;
        }

      }
    }

    .formulario {
      display: flex;
      width: 420px;
      color: white;
      font-size: 13px;
      @media (--media-medium){
        display: block;
        margin: 0 auto;
        width: 300px;
      }
      @media (--media-small) {
        width: 100%;
      }
    }

  }
}






.col1,
.col2 {
  display: flex;
  flex-direction: column;
}
.col1 {
  margin-right: 15px;
  @media (--media-medium) {
     font-size: 16px;
  }
}

.col2 {
  align-items: flex-start;
  .button {
    margin-top: 15px;
  }

  @media (--media-small) {
    align-items: stretch;
  }
}

.intereses {
  display: flex;
  flex-wrap: wrap;
  @media (--media-medium){
    display: block;
  }

  label {
    /*font-size: 10px; */
    width: 50%;
    @media (--media-medium){
      display: block;
    }

  }
}

.formulario label,
.sexo,
.intereses {
  margin-bottom: 10px;
}

.sexo {
  margin-top: 10px;
}

.tabla {
  margin: 50px 0;
}

.burger-buttom {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background:  var(--bg-burger);
  text-align: center;
  left: 20px;
  top: 20px;
  z-index: 3;
  cursor: pointer;
  display: none;
  color: white;
  position: fixed;
  transition: all ease-in-out 0.3s;
  transform: rotate(0deg);
  &.icon-close {
    transform: rotate(90deg);
  }

  @media (--media-small) {
    display: inline-block;
  }
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* = (height(px)x100)/width(px)*/
}

.iframe-responsive {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-demo {
  max-width: 600px;
  margin: 0 auto 70px;

  @media (--media-small) {
    margin: 0 10px;
  }
}

.title {
  &-a {
    @media (--media-large){
      font-size: 18px;
    }
  }
  @media (--media-small){
     font-size: 30px;
  }
}


/* footer  */
